BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 80
BinPackArguments: false
BinPackParameters: false
BreakArrays: false
IndentWidth: 4
IndentPPDirectives: BeforeHash
PenaltyReturnTypeOnItsOwnLine: 200
